<%- include("layouts/header") %>
  <main class="container mt-4">
    <div class="col text-center">
      <h1>Welcome to my Portfolio</h1>
      <img src="img/wildan.jpeg" alt="foto Wildan" class="rounded-circle mx-auto d-block">
    </div>
  </main>
  <%- include("layouts/footer") %>