<%- include('./layouts/header.ejs') %>
    <div class="error-container">
        <div class="error-code">404</div>
        <div class="error-message">Halaman tidak ditemukan</div>
        <p class="back-to-home"><a href="/" class="btn btn-primary">Kembali ke Beranda</a></p>
    </div>
    <%- include('./layouts/footer.ejs') %>