<%- include('./layouts/header.ejs') %>
    <div class="container mt-4">

        <header class="text-center">
            <h1>Profil Saya</h1>
        </header>

        <section>
            <h2>Data Pribadi</h2>
            <p>Nama: Wildan Mukmin</p>
            <p>Umur: 20 th</p>
            <p>Alamat: -</p>
        </section>

        <section>
            <h2>Pendidikan</h2>
            <p>Program Studi: Ilmu Kompuet</p>
            <p>Institusi: Universitas Lampung</p>
            <p>Tahun Lulus: On Going</p>
        </section>

        <section>
            <h2>Pengalaman Kerja</h2>
            <p>Posisi: -</p>
            <p>Perusahaan: -</p>
            <p>Waktu Kerja: -</p>
        </section>

        <section>
            <h2>Keterampilan</h2>
            <p>Keterampilan Utama 1: Backend Developer</p>
            <p>Keterampilan Utama 2: Data Handler</p>
            <!-- Tambahkan lebih banyak keterampilan jika diperlukan -->
        </section>

        <section>
            <h2>Kontak</h2>
            <p>Email: wildanmukmin26@email.com</p>
            <p>GitHub: <a href="https://github.com/WildanMukmin" target="_blank">GitHub Saya</a></p>
            <!-- Tambahkan lebih banyak informasi kontak jika diperlukan -->
        </section>

    </div>

    <%- include('./layouts/footer.ejs') %>